/* CSS declarations go here */
#contents {
	width: 50%;
	height: 50%;
	position: absolute;
	top: 0;
}
/* app css stylesheet */
.starter-template {
	padding: 40px 15px;
	text-align: center;
}
table {
	min-width:3.5em;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}